<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Debug</key>
			<false/>
			<key>DropOEM_DSM</key>
			<false/>
			<key>Fixes</key>
			<dict>
				<key>FixRegions_10000000</key>
				<true/>
				<key>NewWay_80000000</key>
				<true/>
			</dict>
			<key>Name</key>
			<string>DSDT.aml</string>
			<key>ReuseFFFF</key>
			<false/>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>ApCst</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>Cpu0Cst</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>Cpu0Ist</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>ApIst</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>CpuPm</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
		</array>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<true/>
			<key>Generate</key>
			<true/>
			<key>PluginType</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>dart=0 nv_disable=1 rootless=0</string>
		<key>Debug</key>
		<false/>
		<key>DefaultLoader</key>
		<string>Bootx64.efi</string>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>Legacy</key>
		<string>LegacyBiosDefault</string>
		<key>Secure</key>
		<false/>
		<key>Timeout</key>
		<integer>3</integer>
		<key>XMPDetection</key>
		<string>Yes</string>
	</dict>
	<key>CPU</key>
	<dict>
		<key>UseARTFrequency</key>
		<false/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>FakeID</key>
		<dict>
			<key>IntelGFX</key>
			<string>0x04128086</string>
		</dict>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<true/>
			<key>FixOwnership</key>
			<true/>
			<key>Inject</key>
			<true/>
		</dict>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>VBoxHfs</string>
	</array>
	<key>GUI</key>
	<dict>
		<key>Custom</key>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>AddArguments</key>
					<string>root=UUID=87509588-8782-4d8b-b28c-e3a4080b5aed rw add_efi_memmap initrd=initrd.img-4.9.0-kali3-amd64</string>
					<key>Disabled</key>
					<false/>
					<key>FullTitle</key>
					<string>Kali Linux</string>
					<key>Hidden</key>
					<false/>
					<key>Ignore</key>
					<false/>
					<key>Path</key>
					<string>vmlinuz-4.9.0-kali3-amd64</string>
					<key>Type</key>
					<string>debian</string>
					<key>Volume</key>
					<string>EFI</string>
					<key>VolumeType</key>
					<string>Internal</string>
				</dict>
				<dict>
					<key>AddArguments</key>
					<string>root=UUID=891ccc80-c888-4652-ae8e-564fdb455637 rw add_efi_memmap initrd=initramfs-4.9-x86_64.img</string>
					<key>Disabled</key>
					<false/>
					<key>FullTitle</key>
					<string>Manjora</string>
					<key>Hidden</key>
					<false/>
					<key>Ignore</key>
					<false/>
					<key>Path</key>
					<string>vmlinuz-4.9-x86_64</string>
					<key>Type</key>
					<string>os_arch</string>
					<key>Volume</key>
					<string>EFI</string>
					<key>VolumeType</key>
					<string>Internal</string>
				</dict>
			</array>
		</dict>
		<key>Hide</key>
		<array>
			<string>NTFS</string>
			<string>Windows</string>
			<string>Recovery HD</string>
		</array>
		<key>Language</key>
		<string>en:0</string>
		<key>Mouse</key>
		<dict>
			<key>DoubleClick</key>
			<integer>500</integer>
			<key>Enabled</key>
			<false/>
			<key>Mirror</key>
			<false/>
			<key>Speed</key>
			<integer>8</integer>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<true/>
			<key>Linux</key>
			<true/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>ScreenResolution</key>
		<string>1920x1080</string>
		<key>Theme</key>
		<string>EI Capitan</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<true/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>NvidiaSingle</key>
		<false/>
		<key>ig-platform-id</key>
		<string>0x0a260006</string>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<true/>
		<key>AsusAICPUPM</key>
		<true/>
		<key>Debug</key>
		<false/>
		<key>ForceKextsToLoad</key>
		<array>
			<string>\System\Library\Extensions\IONetworkingFamily.kext</string>
		</array>
		<key>KernelCpu</key>
		<false/>
		<key>KernelHaswellE</key>
		<false/>
		<key>KernelLapic</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Second Stage patch</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AQAAdRc=
				</data>
				<key>Name</key>
				<string>IOGraphicsFamily</string>
				<key>Replace</key>
				<data>
				AQAAdBc=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Boot graphics glitch, 10.10.0/10.10.1 (2 of 2)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				QYjE6wM=
				</data>
				<key>Name</key>
				<string>disabled:IOGraphicsFamily</string>
				<key>Replace</key>
				<data>
				QYjE6yM=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, port 0204, 0x0a2e0008, 0x0a16000c, 0x0a2e000d, 0x0a26000d</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AgQJAAAEAAAHAQAA
				</data>
				<key>Name</key>
				<string>disabled:AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>
				AgQJAAAIAAAHAQAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Boot graphics glitch, 10.10.2/10.10.3</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				QYjE6xE=
				</data>
				<key>Name</key>
				<string>disabled:IOGraphicsFamily</string>
				<key>Replace</key>
				<data>
				QYjE6zE=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, port 0105, 0x0a260005 0x0a260006, 0x0d220003, 0x0a2e000a, 0x0a26000a</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AQUJAAAEAACHAAAA
				</data>
				<key>Name</key>
				<string>disabled:AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>
				AQUJAAAIAACHAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Boot graphics glitch, 10.10.0/10.10.1 (1 of 2)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				hcB0XUg=
				</data>
				<key>Name</key>
				<string>disabled:IOGraphicsFamily</string>
				<key>Replace</key>
				<data>
				McB0W0g=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>0x0a260006 9MB cursor bytes patch</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				BgAmCgEDAwMAAAACAAAwAQAAYAA=
				</data>
				<key>Name</key>
				<string>disabled:AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>
				BgAmCgEDAwMAAAACAAAwAQAAkAA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable TRIM for SSD</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AEFQUExFIFNTRAA=
				</data>
				<key>Name</key>
				<string>disabled:IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>
				AAAAAAAAAAAAAAA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, port 0204(12), 0x0a260005 0x0a260006</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AgQJAAAEAACHAAAA
				</data>
				<key>Name</key>
				<string>disabled:AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>
				AgQSAAAIAACHAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, unsupported HDAU 0c0c, 1 of 2 (range check)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				PQsMAAA=
				</data>
				<key>Name</key>
				<string>disabled:AppleHDAController</string>
				<key>Replace</key>
				<data>
				PQwMAAA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, port 0105, 0x0a2e0008, 0x0a16000c, 0x0a2e000d, 0x0a26000d</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AQUJAAAEAAAHAQAA
				</data>
				<key>Name</key>
				<string>disabled:AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>
				AQUJAAAIAAAHAQAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, unsuppored HDAU 0c0c, 2 of 2 (0c0a to 0c0c)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				PQwKAAA=
				</data>
				<key>Name</key>
				<string>disabled:AppleHDAController</string>
				<key>Replace</key>
				<data>
				PQwMAAA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, port 0204, 0x0a260005 0x0a260006</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AgQJAAAEAACHAAAA
				</data>
				<key>Name</key>
				<string>disabled:AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>
				AgQJAAAIAACHAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, port 0204(12), 0x0a2e0008, 0x0a16000c, 0x0a2e000d, 0x0a26000d</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AgQJAAAEAAAHAQAA
				</data>
				<key>Name</key>
				<string>disabled:AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>
				AgQSAAAIAAAHAQAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, port 0105(12), 0x0a2e0008, 0x0a16000c, 0x0a2e000d, 0x0a26000d</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AQUJAAAEAAAHAQAA
				</data>
				<key>Name</key>
				<string>disabled:AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>
				AQUSAAAIAAAHAQAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable internal display after sleep for 0x0a2e000a, 0x0a26000a</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AQAAAEAAAADWAAAABQUAAA==
				</data>
				<key>Name</key>
				<string>disabled:AppleIntelFrameBufferAzul</string>
				<key>Replace</key>
				<data>
				AQAAAEAAAAAeAAAABQUAAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, port 0105(12), 0x0a260005 0x0a260006, 0x0d220003, 0x0a2e000a, 0x0a26000a</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AQUJAAAEAACHAAAA
				</data>
				<key>Name</key>
				<string>disabled:AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>
				AQUSAAAIAACHAAAA
				</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>10/18/13</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>MBP112.88Z.0138.B02.1310181745</string>
		<key>Board-ID</key>
		<string>Mac-3CBD00234E554E41</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>ChassisAssetTag</key>
		<string>MacBook-Aluminum</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>08</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Mobile</key>
		<true/>
		<key>ProductName</key>
		<string>MacBookPro11,2</string>
		<key>SerialNumber</key>
		<string>C02KKTRIFD56</string>
		<key>Trust</key>
		<false/>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Detect</string>
	</dict>
</dict>
</plist>
